PORT = # Numero de puerto del server

HOST = # Direccion de la DB
USER = # Usuario de la DB
DB_PORT = # Numero de puerto de la DB
DB_PASSWORD = # Contraseña de la DB
DB = # Nombre de la DB

SALT = # Cantidad de vueltas para el hash

SECRET_KEY = # Clave para firmar tokens

USER_MAIL = # Correo que envia los codigos
USER_MAIL_KEY = # key de la herramienta SMTP
